.wrapper {
    max-width: 960px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px auto;
}

.container_cards {
    display: grid;
    gap: 15px;
}

.loader {
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
}